@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #001826;
  font-family: "Ubuntu", sans-serif;
}

.img img {
  margin: 72px 1px 1px 173px;
  border-radius: 12px;
}
.h1 {
  margin: -306px 1px -4px 428px;
  color: white;
}

.genres {
  margin: -9px 1px 4px -304px;
}

li {
  list-style: none;
  padding: 0px 6px;
  color: #eeee22;
}

ul a {
  text-decoration: none;

  font-size: 15px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
}

.h1 p {
  margin: 10px 1px 1px 1px;
  color: #eeee22;
}

.ep {
  margin: -7px 1px 1px 425px;
  color: #eeee22;
}

.box1 {
  background-color: #012a41;
  height: 137px;
  width: 1070px;
  margin: 179px 1px 1px 192px;
  border-radius: 8px 8px 1px 1px;
}

.box1 img {
  height: 124px;
  margin: 8px;
  border-radius: 4px;
}

.box1 h3 {
  margin: -123px 1px 1px 120px;
  background-color: #012a41;
  color: #eeee22;
  font-size: 26px;
}

.box1 p {
  margin: 20px 1px 1px 122px;
  background-color: #012a41;
  color: #00456d;
}

.box2 {
  background-color: #212020;
  height: 80px;
  width: 1070px;
  margin: 1px 1px 1px 192px;
}

.box2 p {
  background-color: #212020;
  color: white;
  position: relative;
  top: 35px;
  left: 27px;
  width: 304px;
}

.box2 button {
  float: left;
  position: relative;
  top: 13px;
  left: 947px;
  height: 33px;
  width: 109px;
  border-radius: 18px;
  color: white;
  border: none;
}

.box3 {
  background-color: #212020;
  height: 80px;
  width: 1070px;
  margin: 1px 1px 1px 192px;
}

.box3 p {
  background-color: #212020;
  color: white;
  position: relative;
  top: 35px;
  left: 27px;
  width: 304px;
}

.box3 button {
  float: left;
  position: relative;
  top: 13px;
  left: 947px;
  height: 33px;
  width: 109px;
  border-radius: 18px;
  color: white;
  border: none;
}
.box4 {
  background-color: #212020;
  height: 80px;
  width: 1070px;
  margin: 1px 1px 1px 192px;
}

.box4 p {
  background-color: #212020;
  color: white;
  position: relative;
  top: 35px;
  left: 27px;
  width: 304px;
}

.box4 button {
  float: left;
  position: relative;
  top: 13px;
  left: 947px;
  height: 33px;
  width: 109px;
  border-radius: 18px;
  color: white;
  border: none;
}
.box5 {
  background-color: #212020;
  height: 80px;
  width: 1070px;
  margin: 1px 1px 1px 192px;
}

.box5 p {
  background-color: #212020;
  color: white;
  position: relative;
  top: 35px;
  left: 27px;
  width: 304px;
}

.box5 button {
  float: left;
  position: relative;
  top: 13px;
  left: 947px;
  height: 33px;
  width: 109px;
  border-radius: 18px;
  color: white;
  border: none;
}
.box6 {
  background-color: #212020;
  height: 80px;
  width: 1070px;
  margin: 1px 1px 1px 192px;
}

.box6 p {
  background-color: #212020;
  color: white;
  position: relative;
  top: 35px;
  left: 27px;
  width: 304px;
}

.box6 button {
  float: left;
  position: relative;
  top: 13px;
  left: 947px;
  height: 33px;
  width: 109px;
  border-radius: 18px;
  color: white;
  border: none;
}
.box7 {
  background-color: #212020;
  height: 80px;
  width: 1070px;
  margin: 1px 1px 1px 192px;
}

.box7 p {
  background-color: #212020;
  color: white;
  position: relative;
  top: 35px;
  left: 27px;
  width: 304px;
}

.box7 button {
  float: left;
  position: relative;
  top: 13px;
  left: 947px;
  height: 33px;
  width: 109px;
  border-radius: 18px;
  color: white;
  border:none;
}


/* phone */

